*,::before,::after{
    padding: 0;
    margin: 0;
    /*在移动端特殊的设置*/
    /*清除点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置盒子的宽度以边框开始计算*/
    -webkit-box-sizing: border-box;/*要兼容老的移动浏览器*/
    box-sizing: border-box;
}


input,textarea{
    border: none;
    outline: none;
    resize: none;
}
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    font-size: 12px;
    line-height: 1.5em;
    font-family: tahoma, "Microsoft YaHei", Simsun, Mingliu, Arial, Helvetica;
    color: #333333;
    background: #f7f7f7;
    width: 100%;
    height: auto;

}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
}

table,
td {
    border-collapse: collapse
}

address,
em {
    font-style: normal;
}

a {
    color: #9fa1a0;
    text-decoration: none;
}
a:hover {
    color: #9fa1a0;
    text-decoration: none;
}
a:active{
	color: #fff;
}
.nav li:active {
    background-color: #e3e3e3;
}
.userInfo div:active {
    background-color: #e3e3e3;
}
/*li:hover {
    background-color: red;
}*/
cite, em, s, i, b { font-style: normal }

/*通用样式结束*/

/*特殊的属性定义清除浏览器给input自带的样式*/

.clearfix::before,
.clearfix::after{
    content: "";
    line-height:0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
#userInfo {
    height: 130px;

}

.head {
    width: 100%;
    margin: 0 auto;
    height: 130px;
    box-sizing: border-box;
    overflow: hidden;
    background:#67BD49 url(../images/personal/beijin.png) center no-repeat;
    background-size: 100%;
    position: relative;
}

.picture {
    width: 61%;
    overflow: hidden;
    margin-left: 4%;
    position: relative;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

.picture-img {
	height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    margin-right: 10px;
}



.picture-img img {
    width: 100%;
    overflow: hidden;
}

.picture-title {
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding-top: 15px;
    position: absolute;
    top: 31px;
    left: 110px;
}

.picture-button {
    /*width: 80px;*/
    color: #fff;
    font-size: 14px;
    display: block;
    height: 25px;
    line-height: 25px;
    /*background: url(../images/personal/picture-button.png) no-repeat;*/
    background-size: 100%;
    /*border-radius: 15px;*/
    text-align: center;
    /*margin-left: -5%;*/
    position: absolute;
    top: 70px;
    left: 110px;
}

.head-nav {
    float: right;
    width: 100px;
    margin: 10px 10px 0 0;
}

.head-nav a {
    color: #fff;
    margin-left: 18px;
    float: right;

}

.head-nav a:last-child {
    float: right;
    font-size: 14px;
    margin: 20px 0 0 0
}

#head-xx {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    /* IE 9 */
    -webkit-transform: rotateY(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotateY(180deg);
    font-size: 20px;
    margin-top: 3px;
}

.indent {
    width: 100%;
    height: 40px;
    background: #fff;
    /*border-bottom: 1px solid rgb(232,233,237);*/
    line-height: 40px;
    font-size: 14px;
    text-indent: 1em;
    background: #fff url(../images/personal/dingdan.png) 18px 10px no-repeat;
    background-size: 4.3%;
    padding-left: 30px;
}
.indent>span{
	color: #9fa1a0;
}
.indent a {
    float: right;
    color: #9fa1a0;
}

.nav {
    width: 100%;
    background: #fff;
    padding: 15px 0;
    overflow: hidden;
    /*margin-bottom: 15px;*/
    /*border-bottom: 9px solid #F2F6F6;*/
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    width: 20%;
    float: left;
}

.nav li b {
    display: inline-block;
    width: 100%;
   /* display: flex;
    align-items: center;
    justify-content: center;*/
    height: 41px;
    /*margin-bottom: 5px;*/
    position: relative;
}

.nav li em {
    width: 100%;
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    color: #272727;
}

.nav li b img {
    width: 30px;
    /*height: 30px;*/
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -15px;
    top: 10px;
}

.personal li:nth-child(3) img{
    width: 30px;
    top: 6px;
}
.personal li {
    width: 25%;
}

/*.personal {
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-bottom: 9px solid #F2F6F6;
    position: relative;
}

.personal ul {
    padding: 0;
    margin: 0;
}

.personal li {
    width: 25%;
    float: left;
    padding: 15px 0;
    position: relative;
}

.personal li b {
    width: 100%;
    color: #ff7800;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    margin-bottom: 15px;
}

.personal li b img {
    width: 28px;
    height: 28px;
}

.personal li span {
    width: 100%;
    display: block;
    text-align: center;
    font-style: normal;
    color: #272727;
}

.personal li span img {
    max-width: 100%;
}

.personal li em {
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    position: absolute;
    top: 40px;
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.personal li:nth-child(3) {
    border-right: 1px solid #dadada;
}*/

/*.personal-gg {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.personal-gg img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}*/

/*footer_nav1底部悬浮菜单css*/
.v_nav {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border-top: #dcdcdc 1px solid;
    z-index: 97;
    padding-top: 5px;
    margin: 0 auto;
    /*padding-bottom: 2px;*/
    /*padding-top: 2px*/
}

.vf_nav {
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 0px;
    margin: 0px;
}

.v_nav ul {
    margin: 0;
    padding: 0;
}

.vf_nav ul li {
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    margin: 0px;
}

.vf_nav ul li a {
    text-align: center;
    font-size: 12px;
    color: #636363;
    width: 45px;
    display: block;
    height: 50px;
    position: relative;
    margin: auto
}

.vf_nav ul li i {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
}

.vf_1 {
    -webkit-background-size: 100%;
    background-size: 100%;

}

.vf_2 {
    -webkit-background-size: 100%;
    background-size: 100%;
}

.vf_3 {
    -webkit-background-size: 100%;
    background-size: 100%;
}

.vf_4 {
    -webkit-background-size: 100%;
    background-size: 100%;
}

.vf_nav ul li span {
    display: block;
    width: 84px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -42px
}

.vf_nav ul li a:active {
    color: #f29600;
}

.lmessage {
    display: inline-block;
    width: 24px;
    height: 23px;
    background: url(../images/index/home_message_icon@3x.png);
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 4%;
}

/*热销推荐*/
/*
.content {
    !*width: 100%;*!
    !*height: 1004px;*!
}

.hot_title {
    height: 28px;
    width: 100%;
    background-color: #EAECEF;
}

.hot_title h5 {
    font-size: 17px;
    font-weight: 900;
    color: #787878;
    line-height: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
}

.hot_title .line1 {
    display: inline-block;
    width: 38%;
    border-top: 1px solid #BCBCBC;
    position: relative;
    top: -2px;
    left: 0%;
}

.hot_title .line2 {
    display: inline-block;
    width: 38%;
    border-top: 1px solid #BCBCBC;
    margin-top: -36px;
    float: right;
}

.hot_items {
    width: 50%;
    height: 255px;
    border-bottom: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    overflow: hidden;
    float: left;
}

.hot_items a {
    display: inline-block;
    height: 142px;
    width: 100%;
}

.hot_items .item_img img {
    max-height: 142px;
    width: 142px;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    left: 50%;
    margin-left: -68px;
    margin-top: 8px;
}

.hot_items .item_title {
    font-size: 12px;
    color: #282828;
    position: relative;
    margin-top: 8px;
    padding-left: 6.42%;
    padding-right: 2%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hot_items .item_num {
    width: 60%;
    font-size: 12px;
    color: #9C9C9C;
    position: relative;
    top: 0px;
    left: 6.42%;
    margin: 0;
}

.hot_items .price {
    font-size: 12px;
    color: #f29600;
    font-weight: 900;
    position: relative;
    top: 0px;
    left: 6%;
}

.hot_items .shopping_car {
    display: inline-block;
    width: 43px;
    height: 43px;
    background: url(../images/baihuo/shop_car.fw.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    float: right;
    margin-right: 8%;
    margin-top: -8px;

}

.ctitle {
    height: 37px;
    width: 100%;
}

.ctitle h5 {
    font-size: 17px;
    font-weight: 900;
    color: #f29600;
    line-height: 37px;
    text-align: center;
    background-color: #F2F6F6;
    margin: 0;
}

.ctitle .line1 {
    display: inline-block;
    width: 1.67%;
    border-top: 2px solid #f29600;
    position: relative;
    top: 20px;
    left: 37%;
    float: left;
}

.ctitle .line2 {
    display: inline-block;
    width: 1.67%;
    border-top: 2px solid #f29600;
    position: relative;
    top: -35px;
    left: 63%;
}

.choice_items {
    width: 33.33%;
    height: 185px;
    border-top: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    overflow: hidden;
    float: left;
}

.choice_items:nth-child(3n) {
    border-right: none;
}

.choice_items a {
    display: inline-block;
    height: 130px;
    width: 100%;
}

.choice_items .item_img img {
    max-height: 102px;
    width: 102px;
    position: relative;
    left: 50%;
    top: 15px;
    margin-left: -51px;
}

.choice_items .item_title {
    font-size: 12px;
    color: #7E7E7E;
    position: relative;
    top: -15px;
    text-align: center;
    margin: 0;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.choice_items .price {
    font-size: 12px;
    color: #f29600;
    font-weight: 900;
    position: relative;
    top: -14px;
    margin-left: 11.2%;
}

.choice_items .shopping_car {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/select_shop_icon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    float: right;
    margin-right: 10%;
    top: -10px;
}

#hotItems {
    background: #fff;
    overflow: hidden;
    margin-bottom: 50px;
}

div#lodding {
    text-align: center;
    margin: 170px auto 0 auto;
    display: none;
}

p.up_lodding {
    text-align: center;
    line-height: 2;
    display: none;
}

p.up_lodding span {
    display: block;
    margin: 20px auto 0 auto;
}

p.pre_lodding {
    margin-top: -20px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 2;
    display: none;
}

p.pre_lodding span {
    display: block;
    margin: 0px auto 0 auto;
}

p.null {
    text-align: center;
    display: none;
    margin: -20px 0 73px 0;
}*/
div#lodding {
    text-align: center;
    margin: 170px auto 0 auto;
    display: none;
}
ul#setting{
    width:100%;
    /*border:1px solid #000;*/
    /*box-shadow: 0 -1px rgb(232,233,237);*/
    /*display: none;*/
}
ul#setting li{
    position: relative;
    background: #fff;

}
ul#setting li a{
    color: #000;
    display: block;
    padding:12px 8px;

}
#setting li:nth-child(1){
    background: url(../images/personal/setting_1.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 24px;
}
#setting li:nth-child(2){
    background: url(../images/personal/setting_2.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 24px;
}
#setting li:nth-child(3){
    background: url(../images/personal/setting_3.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 24px;
}
#setting li:nth-child(4){
    background: url(../images/personal/setting_4.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 24px;
}
#setting li:nth-child(5){
    background: url(../images/personal/setting_7.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 22px;
}
/*#setting li:nth-child(6){
    background: url(../images/personal/setting_.png) no-repeat 4% 10px #fff;
    background-size: 24px;
    -webkit-background-size: 24px;
 }*/
ul#setting li span{
    font-size: 15px;
    margin-left: 10%;
}
ul#setting li i{
    position: absolute;
    width:16px;
    height:16px;
    right:3%;
    top:14px;
    background:url(../images/index/jt.png) no-repeat 0 -1px;
    background-size: 100%;
    -webkit-background-size: 100%;
}
.setting_icon{
    background: url(../images/index/xiaoxi.png) no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    width:22px;
    height:22px;
}
.message_icon{
    background: url(../images/personal/setting_5.png) no-repeat 0px 0px;
    background-size: 100%;
    -webkit-background-size: 100%;
    width:22px;
    height:22px;
}

.mui-content {
	margin-bottom: 50px;
}
#header_pic{
    width: 90px;
    height: 90px;
    padding: 1px;
    /*width: 90px;*/
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #fff;
    /*float: left;*/
    margin-right: 2%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*position: relative;*/
}
#header_pic img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;

}
/*li:nth-child(1)*/
.nav .mui-badge-danger, .mui-badge-red {
    position: absolute;
    top: 5px;
    right: 12px;
    display: none;
}
.vf_nav ul li .car_count {
    display: inline-block;
    display: none;
    position: absolute;
    top: -2px;
    right: -4px;
    z-index: 100;
    background: red !important;
}